@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner {
  background-image: url(./img/banner.png);
  width: 1920px;
  height: 1280px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 1920px;
}

nav a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav a:hover {
  color: #f5bb28;
}

nav #box {
  margin: 59px auto 0;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 204px 351px 398px 120px 110px;
      grid-template-columns: 204px 351px 398px 120px 110px;
}

nav #box #link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box a {
  font-size: 18px;
  font-weight: 100;
}

nav #box a:nth-child(2) {
  text-align: center;
}

nav #box a:nth-child(3) {
  text-align: right;
}

nav #box #social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box #social a:nth-child(2) {
  text-align: right;
}

#content {
  width: 1920px;
  height: 2500px;
  background-image: url(./img/paper.png);
  border: 0.1px;
}

#content h1 {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 60px;
  font-weight: 300;
  letter-spacing: 9.6px;
  font-size: 32px;
}

#news {
  width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#news div {
  background-color: white;
  padding: 40px 30px;
}

#news div h3 {
  color: #49aa45;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.6px;
  text-align: center;
  margin-bottom: 27px;
}

#news div h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5.5px;
  text-align: center;
}

#news div p {
  color: #333333;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: 4.8px;
  margin: 28px 0 31px;
}

#news div hr {
  border: 0.5px soild #000;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news div div {
  position: relative;
  font-size: 0;
}

#news div div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news div img {
  width: 100%;
}

#news div:hover hr {
  width: 100%;
}

#news div:hover div::before {
  opacity: 0.5;
}

#product {
  text-align: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#product div {
  width: 225px;
  position: absolute;
  top: 73px;
  right: 161px;
}

#product div h3 {
  color: #f5bb28;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 7px;
}

#product div h4 {
  color: #cccccc;
  margin: 30px 0 46px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.8px;
}

#product div p {
  font-size: 20px;
  line-height: 2.5;
  letter-spacing: 5px;
  text-align-last: left;
}

#idea {
  width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 620px auto;
      grid-template-columns: 620px auto;
  grid-gap: 20px;
  padding-right: 20px;
}

#idea img {
  width: 100%;
  border: 5px solid white;
}

#idea h2 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 7px;
}

#idea p {
  margin: 51px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.5;
  letter-spacing: 6px;
}

#idea a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5.4px;
  text-decoration: none;
  padding: 17px 67px;
  border: 2px solid #252525;
}

footer {
  text-align: center;
}

footer img {
  margin: 126px 0 73px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.6px;
}

footer p:nth-of-type(2) {
  margin-bottom: 137px;
}
/*# sourceMappingURL=style.css.map */